/* Header */

.cabecera__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    height: 80px;
    padding: 0 0;
}

.cabecera__buscar__item {
    display: none;
}

/* Menu */

.menu__container {
    position: fixed;
    bottom: 0%;
    height: 75px;
    width: 100vw;
}

.menu__lista {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4) {
    display: none;
}

.menu__lista li {
    align-self: center;
}

.menu__itens {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


/* Sección superior */
.superior__seccion__container{
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: scroll;
    gap: 15px;
}

/* Sección videos */
.videos__container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.videos__item {
    height: 260px;
    width: 280px;
    flex-grow: 1;
}

.videos__item:hover {
    transform: scale(1);
}

 .descripcion-video {
    margin-top: 1rem;
    display: flex;
    align-items: start; 
}

.descripcion-video img {
    margin-right: 1rem; 
    flex-shrink: 0;  /*  Evita que la imagen se reduzca */
    
}

.detalles__video {
    flex-direction: column;
    text-align:left;
}

.detalles__video h3 {
    margin-bottom: 10px;
}


/* Footer */

.rodapie__container {
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; */
    flex-flow: column wrap;
}


@media (min-width: 768px) {

    /* Cabecera */
    .cabecera__buscar__item {
        display: block;
    }

    /* Menu lateral*/
    .menu__container {
        left: 0%;
        width: 80px;
        height: auto;
        top: 80px;
    }

    .menu__lista {
        flex-flow: column nowrap;
        justify-content: flex-start;
        height: 100%;
        gap: 30px;
        justify-content: flex-start;
    }

    .menu__lista li {
        align-self: center;
        height: 80px;
        width: 100%;
        padding: 30px 0;
    }

    .menu__itens {
        height: 60px;
    }

    /* Sección superior */
    .superior__seccion__container{
        left: 80px;
    }   

    /* Sección videos */
    .videos__container {
        padding-left: 95px;
    }
    
    /* Footer */
    .rodapie__container {
        flex-flow: row wrap;
        padding: 5%;
        height: 600px;
        margin-left: 80px;
        width: auto;
    }

    .rodapie__container section {
        text-align: left;
        flex-direction: column;
        width: 25%;
        gap: 5px;
    }
}

@media(min-width:1024px) {

    /* Menu lateral */
    .menu__container {
        width: 240px;
        overflow: scroll;
    }

    .menu__lista {
        height: auto;
        padding: 20px 17px 20px 15px;
        gap: 30px;
    }
    
    .menu__lista li {
        height: auto;
        padding: 0;
    }

    .menu__lista:nth-child(2),
    .menu__lista:nth-child(3),
    .menu__lista:nth-child(4) {
        display: flex;
    }

    .menu__lista:nth-child(3) {
        flex-direction: column-reverse;
    }

    .menu__itens {
        height: auto;
        flex-direction: row;
        gap: 15px;
        align-items: center;
    }

    .videojuegos {
        order: 3;
    }

    .peliculas {
        order: 2;
    }

    .premium {
        order: 1;
    }

    /* Sección superior */
    .superior__seccion__container {
        left: 250px;
    }

    /* Sección videos */
    .videos__container {
        padding-left: 250px;
    }

    /* Footer */
    .rodapie__container {
        height: auto;
        margin-left: 240px;
        padding: 1% 5%;
        flex-wrap: nowrap;
        gap: 15px;
    }

    .rodapie__container section {
        text-align: left;
        flex-direction: column;
    }

}